<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".DebugPanelActivity"
            android:exported="false"
            android:label="Debug Panel" />

        <activity
            android:name=".DebugVadSettingsActivity"
            android:exported="false"
            android:label="VAD Settings" />
    </application>

</manifest>
